In [1]:
import pandas as pd
import pandasql as pdsql
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt

pysql = lambda q: pdsql.sqldf(q, globals())

data = pd.read_csv('data/amico-export.csv.gz', compression='gzip')
data['date'] = pd.to_datetime(data['date'])
data['vt_query'] = pd.to_datetime(data['vt_query'])

In [11]:
sql_query = """
    SELECT md5, host, score, max_tavs, max_avs, score
    FROM data
    WHERE max_avs IS NOT NULL
    ORDER BY date;
    """
scores = pysql(sql_query)
#scores.to_csv("data/detect.csv")
scores 

#threshold = 2
avs_count = scores['max_tavs']
avs_count1 = scores['max_avs']
avs_count1

#sql_query1 = """
#    SELECT *
#    FROM avs_count
#    WHERE max_tavs >=2;
#    """
#scores1 = pysql(sql_query1)
#scores1

0         1.0
1         0.0
2         0.0
3         6.0
4         0.0
5         0.0
6         0.0
7         6.0
8         0.0
9         0.0
10        0.0
11        0.0
12        6.0
13        0.0
14        0.0
15        6.0
16        0.0
17        0.0
18        0.0
19        0.0
20        2.0
21        6.0
22        0.0
23        0.0
24        0.0
25        2.0
26        0.0
27        6.0
28        0.0
29        0.0
         ...
248434    0.0
248435    0.0
248436    1.0
248437    4.0
248438    4.0
248439    0.0
248440    1.0
248441    0.0
248442    0.0
248443    2.0
248444    0.0
248445    2.0
248446    4.0
248447    2.0
248448    4.0
248449    0.0
248450    0.0
248451    0.0
248452    0.0
248453    0.0
248454    0.0
248455    3.0
248456    1.0
248457    0.0
248458    0.0
248459    0.0
248460    0.0
248461    4.0
248462    4.0
248463    0.0
Name: max_avs, Length: 248464, dtype: float64